<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhy.springcloud.dao.UserDao">
    <insert id="addUser" parameterType="User">
        insert into user (username, age, clazz)
        value (#{username}, #{age}, #{clazz})
    </insert>

    <select id="queryByName" resultType="User" parameterType="String">
        select * from user where username = #{name};
    </select>

    <select id="queryAll" resultType="User">
        select * from user;
    </select>
</mapper>